# Ignore the .ipynb_checkpoints folder
/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints

# Ignore the galsim-jax.egg-info folder
/galsim_jax.egg-info

# Ignore the wandb, artifacts, hsc_photoz and results folders
/wandb
/results
/artifacts

# Ignore the msgpack file
checkpoint.msgpack

# Ignore the __pycache__ folder inside the pip package
__pycache__
/galsim_jax/__pycache__
/galsim_jax/datasets/__pycache__

# Ignore the test notebook
test.ipynb
notebooks/Untitled.ipynb

# Ignore the train.sh file
train.sh 