# Ignore the .ipynb_checkpoints folder
/.ipynb_checkpoints

# Ignore the galsim-jax.egg-info folder
/galsim_jax.egg-info

# Ignore the wandb, artifacts, hsc_photoz and results folders
/wandb
/results
/artifacts
/hsc_photoz

# Ignore the msgpack file
checkpoint.msgpack

# Ignore the __pycache__ folder inside the pip package
/galsim_jax/__pycache__

# Ignore the test notebook
test.ipynb